a {
    color: #000;
}
a:hover,
.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #333;
}

.navbar {
    margin-bottom: 0;
}

.navbar .logo {
    margin-right: 50px;
}
.navbar .logo a {
    font-size: 25px;
}
.topbar {
    background: #000 url("../images/header_bg.jpg") center 0 no-repeat;
    height: 261px;
    margin-bottom: 20px;
}
.main-content {
    min-height: 400px;
}
.main-content .header {
    margin-bottom: 30px;
}
.main-content a {
    text-decoration: underline;
}
.main-content a:hover {
    text-decoration: none;
}

.navbar-footer {
    background: #000;
    color: #AAA;
}
.navbar-footer .container {
    padding-top: 13px;
}